
@import "variables";

body.modal--shown {
  overflow: hidden;
  max-height: 100vh;
}


.loading {
  user-select: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
  }

  &::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($white, 0.5);
    z-index: 1;
  }

  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $loader-width;
    height: $loader-width;
    border: {
      top: $loader-border-width solid $black;
      left: $loader-border-width solid $black;
      right: $loader-border-width solid $black;
      bottom: $loader-border-width solid transparent;
      radius: $loader-width * 2;
    }
    animation: rotate .5s linear infinite;
    z-index: 2;
  }

  @keyframes rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
