
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 425px;

$white: #ffffff;
$grey: #c3c3c3;
$yellow: #FED766;
$red: #FF5E5B;
$green: #9ae832;
$blue: #2196F3;
$light-blue: #E3F2FD;
$black: #263238;

$bezier: cubic-bezier(.16,.53,.38,.83);
$animation-time: 0.2s;

$icon-font-size: 21px;

//homepage variables
$header-height: 60px;

//loader variables
$loader-width: 20px;
$loader-border-width: 3px;
