<app-header></app-header>


<div *ngIf="err == null">

  <div class="container content__container">

    <div class="todo-list-details">
      <h2>{{todoList?.name}}</h2>
      <div class="todo-list-details__data">
        <div class="todo-list-details__data__item">
          <div class="fa fa-fw fa-calendar-o"></div>
          <span>{{todoList?.createdDate}}</span>
        </div>
        <div class="todo-list-details__data__item">
          <div class="fa fa-fw fa-list-ul"></div>
          <span>{{todoList?.todos.length}}</span>
        </div>
      </div>
    </div>

    <div class="content__container__form">
      <form [formGroup]="addTodoForm" (ngSubmit)="addTodo()">
        <app-input formControlName="content"></app-input>
        <app-button type="submit" [loading]="!valid" [disabled]="!valid" [large]="true" [fluid]="true">Dodaj</app-button>
      </form>
    </div>

    <h1 class="centered" *ngIf="todoList?.todos.length == 0">W tej chwili nie masz żadnych elementów</h1>

    <div *ngIf="todoList?.todos.length > 0" class="content__container__list">

      <todo *ngFor="let todo of todoList?.todos"
            [todo]="todo"
            (onEdit)="openEditModal($event)"
            (onInfo)="info($event)"
            (onComplete)="completeTodo($event)"
            (onDelete)="removeTodo($event)"></todo>
    </div>


    <modal title="Informacje" #infoModal>
      <table>
        <tr>
            <td>Treść</td>
            <td>{{editedTodo?.content}}</td>
        </tr>
        <tr>
            <td>Data utworzenia</td>
            <td>{{editedTodo?.createdDate}}</td>
        </tr>
        <tr>
            <td>Priorytet</td>
            <td>{{editedTodo?.priority?.label}}</td>
        </tr>
        <tr>
            <td>Zakończono</td>
            <td>{{editedTodo?.completed ? "Tak" : "Nie"}}</td>
        </tr>
      </table>
    </modal>
    <modal title="Edytuj obiekt" (onApprove)="editTodo()" #editModal>
      <form [formGroup]="editTodoForm">
        <input type="hidden" formControlName="id" [value]="editedTodo?.id" />
        <table>
          <tr>
            <td>Treść</td>
            <td class="compact">
              <app-input formControlName="content" 
                         [value]="editedTodo?.content" 
                         [noBorder]="true"></app-input>
            </td>
          </tr>
          <tr>
            <td>Priorytet</td>
            <td class="compact">
              <app-dropdown formControlName="priority"
                            [fluid]="true"
                            [options]="priorities"
                            [value]="editedTodo?.priority"
                            [noBorder]="true"></app-dropdown>
            </td>
          </tr>
          <tr>
            <td>Czy zakończony?</td>
            <td>
              <app-switch formControlName="completed" [value]="editedTodo?.completed"></app-switch>
            </td>
          </tr>
        </table>
      </form>
    </modal>
  </div>

  <!-- <div class="controls">
    <a class="control control__prev" *ngIf="todoList?.prev != null" [routerLink]="['/todoList', todoList?.prev?.id]">
      <div class="control__button">
        <div class="fa fa-angle-left"></div>
      </div>
      <div class="control__label">
        <span>{{todoList?.prev?.name}}</span>
      </div>
    </a>
    <a class="control control__next" *ngIf="todoList?.next != null" [routerLink]="['/todoList', todoList?.next?.id]">
      <div class="control__button">
        <div class="fa fa-angle-right"></div>
      </div>
      <div class="control__label">
        <span>{{todoList?.next?.name}}</span>
      </div>
    </a>
  </div> -->

  <app-alert #alert></app-alert>
</div>



<div *ngIf="err != null" class="container content__container content__container--error">
  <h1>Błąd {{err.status}}</h1>
  <p>{{err.message}}</p>
  <a [routerLink]="['/home']">Strona główna</a>
</div>
