@font-face {
  font: {
    family: Roboto;
    style: normal;
    weight: normal;
  };
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font: {
    family: Roboto;
    style: normal;
    weight: bold;
  };
  src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
}